

.hero {
    display: flex;
    flex-direction: column;
    min-height: 95vh; 
}

.hero>.hero-header {
     margin-top: auto;
    align-self: center; 
    padding-bottom: 80px;
}

h1 {
    font-size: 8vh;
    color: #1c5460;
}

.hero-central {
    display: flex;
    align-items: center;
    justify-content: center;
}
.outerbox {
    height: 50vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#outerbox2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
#central-img {
    width: auto;
    height: 60vh;
}

.outerbox > .innerbox1 {
    height: 20vh;
    width: auto;
    /* outline: 10px solid red; */
    display: flex;
    position: relative;
}
.outerbox > .innerbox2 {
    height: 20vh;
    width: auto;
    /* outline: 10px solid yellow; */
    display: flex;
    position: relative;
}

.xsmlbox1 {
    /* outline: 10px solid green; */
    height: auto;
    flex: 3;
    position: relative;
    z-index: 2;
}
.xsmlbox2 {
    height: 12vh;
    width: 12vh;
    /* flex: 2; */
    border-radius: 50%;
    transition:  1.5s ease-in;
    
}
.xsmlbox2:hover {
    outline: 20px dotted #60BFC4;

}
.hero-paragraph {
    font-size: 2.5vh;
    padding: 0px 10px;
    /* outline: 3px red solid; */
}
h3 {
    padding-left: 10px;
    margin-top: 10px;
    font-size: 3vh;
    color: #1c5460;
    /* outline: 3px black solid; */
}
.left-title {
    text-align: right;
    padding-right: 10px;
    /* outline: 1px red solid; */
}
#lmt-paragraph, #ni-paragraph {
    text-align: right;
    /* outline: 1px red solid; */
}

#syringe, #tag, #pt-logo, #lmt-logo {
    width: 12vh;
    height: 12vh;
    border-radius: 50%;
    z-index: -1;   
}

@media (max-width: 820px) {
     .hero {
    padding-top: 20%;
    width: 70%;
    padding-left: 30%;
  }
  .hero>.hero-header {
    /* padding: 200px 50px 100px 50px; */
    /* margin-left: auto;
    margin-right: auto; */
    text-align: center;
    width: 100%;
    padding-bottom: 20px;

    }
    .hero-central {
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    width: 100%;
    }
    .outerbox {
    width: 100%;
    height: auto;
    
    }
    #outbox1 {
        order: 2;
        
       
    }
    #outbox2 {
        order: 1
    }
    #outbox2 {
        order: 2
    }
    .xsmlbox1 {
        order: 2;
        /* text-align: left; */
         margin-top: 40px;
         height: auto;
         width: 100%;
    }
    .left-title {
        text-align: left;
    }
    #lmt-paragraph, #ni-paragraph {
    text-align: left;
    }
    #central-img {
    width: 100%;
    height: auto;
    max-width: 700px;
    margin: 0 auto;
    display: block;
    padding-bottom: 20px;
    }
    h1 {
        font-size: 6vh;
    }
    h3 {
        font-size: 2vh;
        margin-top: -20px;
   
    }
    .hero-paragraph {
        font-size: 2vh;
    }
    #syringe, #tag, #pt-logo, #lmt-logo {
    width: 8vh;
    height: 8vh;
    }
    .xsmlbox2 {
    height: 8vh;
    width: 8vh;
    }
    .outerbox > .innerbox1 {
    height: auto;
    }
    .outerbox > .innerbox2 {
    height: auto;
    }
    
}