footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* outline: 1px red solid; */
    max-width: 100%;
    width: 100%;
    margin: 8vh auto 0vh auto;
    min-height: 12vh;
    position: relative;
    overflow: visible;
    
}
footer >.footer1,
footer >.footer2, 
footer > .footer3 {
    min-width: 200px;
    text-align: center;
    background-color: #C8DB82;
    flex: 1;
    min-width: 250px;
    position: relative;

}
.footer1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer2 {
    position: relative;
    z-index: 5;
    
}


#footer-logo {
    height: 10vh;
    width: auto;
    border-radius: 50%;
     box-shadow: -1.3vh -1.1vh 2vh #369B76;
    outline: 0.4vh solid #60BFC4;
    background-color: white;
    transition: outline 1.5s ease-in;
}
#footer-logo:hover {
    outline: 2.5vh dotted #369B76;
    cursor: pointer;
} 

.social-media {
    display: flex;
    justify-content: space-around;
    
}
.f-btn-one {
    padding-bottom: 2vh;
}
.f-btn-two {
    padding-top: 2vh;
    padding-bottom: 1vh;
    align-content: end;
}
.f-btn-three {
    padding-bottom: 2vh;
}

.footer3 {
    display: flex;
    flex-direction: column;
    margin: 0px;
   
}

#tos, #pp {
    font-size: 2vh ;
    padding-top: 2vh;
    margin: 0 auto 0 auto;
    width: 14vh;
    color: #1c5460;
    /* outline: 1px red solid; */
}
#tos:hover, #pp:hover {
    text-decoration: underline;
}

#cr {
    font-size: 2vh ;
    margin: 0px;
    padding-top: 2vh;
}

.f-btn-one {
    flex: 2;
    text-align: start;
    background-color: #C8DB82;
    color: #1F6373;
    align-content: end;
    margin-bottom: 1vh;
}
.f-btn-two {
    flex: 2;
    text-align: center;
    background-color: #C8DB82;
    color: #1F6373;
    align-content: start;
    margin-top: 1vh;
}
.f-btn-three {
    flex: 2;
    text-align: end;
    background-color: #C8DB82;
    color: #1F6373;
    align-content: end;
    margin-bottom: 1vh;
}
.foot-btn {
    border-radius: 50%;
    height: 11vh;
    width:11vh;
    font-family: cursive;
    font-size: 2.8vh;
    background-color: #01a98e;
    color: white;
    border: 0;
    cursor: pointer;
    transition: outline 1.5s ease-in;
}
.foot-btn:hover {
    text-decoration: underline;
    outline: 2.6vh dotted #369B76;

}


@media (max-width: 1040px) {
    footer {
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;

    }
    .footer1, .footer2, .footer3 {
    width: 100%;
    z-index: 0;
    max-width: 100%;
    height: auto;
    }
    .footer1 {
    width: 100%;
    height: auto;
    max-width: 100%;
    z-index: 2;
    }
    .footer2 {
        display: none;
    }
    #cr {
        font-size: 2vh;
        padding-bottom: 2vh;
    }
}