
nav {
    min-height: 12vh;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0px;
    overflow: visible;
    z-index: 4;
    justify-content: space-between;
}
#img-logo, #simple-img-logo {
    text-align: center;
    flex: 2;
    position: fixed;
    
}
#logo, #simple-logo {
    height: 14vh;
    width: auto;
    transition: outline 1.5s ease-in;
    border-radius: 50%;
    position: absolute;
    top: 3vh;
    padding: 6vh;
    left: 1vw;
    box-shadow: -2vh -2vh 5vh #369B76;
    outline: .5vh solid #60BFC4;
    background-color: white;
}
#logo:hover {
    outline: 3vh dotted #369B76;
    cursor: pointer;
}
.nav-one {
    flex: 1;
    background-color: #60BFC4;
    transform: skewX(25deg);
    position: relative;
    left: 20vw;
    z-index: -1;
    border-bottom-left-radius: 5vh;
    
}

.nav-two {
    flex: 1;
    display: flex;
    background-color: #60BFC4;
    z-index: 1;
    
}

.btn-one {
    flex: 2;
    text-align: start;
    background-color: #60BFC4;
    color: #1F6373;
    align-content: end;
    padding-bottom: 1vh;
    padding-top: 3vh;
}
.btn-two {
    flex: 2;
    text-align: center;
    background-color: #60BFC4;
    color: #1F6373;
    align-content: start;
    margin-top: 1vh;
    margin-bottom: 3vh;
}
.btn-three {
    flex: 2;
    text-align: end;
    background-color: #60BFC4;
    color: #1F6373;
    align-content: end;
    margin-bottom: 1vh;
    margin-top: 3vh;
}

button {
    border-radius: 50%;
    height: 11vh;
    width:11vh;
    font-family: cursive;
    font-size: 2.8vh;
    background-color: #01a98e;
    color: white;
    border: 0;
    cursor: pointer;
    transition: outline 1.5s ease-in;
}
button:hover {
    text-decoration: underline;
    outline: 2.5vh dotted #369B76;

}

.nav-three {
    flex: 1;
    background-color: #60BFC4;
    align-items: center;
    justify-content: center;
    display: flex;
}

.name {
    font-size: 4vh;
    color: #1c5460;
    font-style: italic;
}

.name:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 820px) {
    nav {
        width: 30vw;
    }
    #img-logo {
        position: fixed;
        left: 3vw;
        border-radius: 50%;
        background-color: white;
        box-shadow: -2vh -2vh 5vh #369B76;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        -webkit-tap-highlight-color: transparent;
    }
    #simple-img-logo {
        top: -1vh;
    }
    #simple-logo {
        height: 8vh;
        padding: 2vh;
    }
    #logo {
    
        height: 8vh;
        width: auto;
    }
    
    .nav-one {
        background-color: transparent;
        flex: 0;
       
    }
    .nav-two {
        flex-direction: column;
        flex: 1;
        display: flex;
        background-color: transparent;
        z-index: 1;
    }
    .btn-one {
        background-color: transparent;
        align-content: start;
        text-align: start;
        margin: 25vh 0 0 2vh;

        width: 22vw;
       
    }
    .btn-two {
        background-color: transparent;
        align-content: start;
        text-align: start;
        margin: 2vh 0 0 2vh;
        width: 22vw;
    }
    .btn-three {
        background-color: transparent;
        align-content: start;
        text-align: start;
        margin: 2vh 0 0 2vh;
        /* outline: 1px red solid; */
        width: 22vw;
    }
    
    .nav-three {
        display: none;
    }
   
}