

nav {
    min-height: 12vh;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0px;
    overflow: visible;
    z-index: 4;
    justify-content: space-between;
    
}
#img-logo {
    text-align: center;
    flex: 2;
    position: fixed;
}
#logo {
    height:80px;
    width: auto;
    transition: outline 1.5s ease-in;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    padding: 40px;
    left: 10px;
    box-shadow: -10px -10px 35px #369B76;
    outline: 2px solid #60BFC4;
    background-color: white;
}
#logo:hover {
    outline: 20px dotted #369B76;
    cursor: pointer;
}
.nav-one {
    flex: 1;
    background-color: #60BFC4;
    transform: skewX(25deg);
    position: relative;
    left: 250px;
    z-index: -1;
}

.nav-two {
    flex: 1;
    display: flex;
    font-family: cursive;
    font-size: 16px;
    background-color: #60BFC4;
    z-index: 1;
    
}

.btn-one {
    flex: 2;
    text-align: start;
    background-color: #60BFC4;
    color: #1F6373;
    align-content: end;
    padding-bottom: 5px;
    padding-top: 10px;
}
.btn-two {
    flex: 2;
    text-align: center;
    background-color: #60BFC4;
    color: #1F6373;
    align-content: start;
    margin-top: 5px;
    margin-bottom: 15px;
}
.btn-three {
    flex: 2;
    text-align: end;
    background-color: #60BFC4;
    color: #1F6373;
    align-content: end;
    margin-bottom: 5px;
}

button {
    border-radius: 50%;
    height: 11vh;
    width:11vh;
    font-family: cursive;
    font-size: 16px;
    background-color: #01a98e;
    color: white;
    border: 0px;
    cursor: pointer;
    transition: outline 1.5s ease-in;
}
button:hover {
    text-decoration: underline;
    outline: 15px dotted #369B76;

}

.nav-three {
    flex: 1;
    background-color: #60BFC4;
    align-items: center;
    justify-content: center;
    display: flex;
}

.name {
    font-size: 26px;
    color: #1c5460;
    font-style: italic;
}

.name:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 820px) {
    #logo {
        top: 20px;
        left: 20px;
        height: 6vh;
        width: auto;
    }
    .nav-one {
        background-color: transparent;
        flex: 0;
    }
    .nav-two {
        flex-direction: column;
        height: 100px;
        flex: 1;
        display: flex;
        font-family: cursive;
        font-size: 16px;
        background-color: transparent;
        z-index: 1;
    }
    .btn-one {
        background-color: transparent;
        align-content: start;
        text-align: start;
        margin: 225px 0px 0px 20px;
      
    }
    .btn-two {
        background-color: transparent;
        align-content: start;
        text-align: start;
        margin: 20px 0px 0px 20px;
    }
    .btn-three {
        background-color: transparent;
        align-content: start;
        text-align: start;
        margin: 20px 0px 0px 20px;
    }
    
    .nav-three {
        display: none;
    }

    .name {
        font-size: 26px;
        color: #1c5460;
        font-style: italic;
        margin: 5px 100px 0 0;
    }

    .name:hover {
        text-decoration: underline;
        cursor: pointer;
    }
   
}